@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html {
    font-size: 16px;
    scroll-behavior: smooth;
    background-color: #ededed;
}

#id2 {
    display: none;
}

#id3 {
    display: none;
}

#id4 {
    display: none;
}


/* SLIDER ------------------------------------------------------------------------------ */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    -webkit-text-stroke: 0.2px rgb(255, 0, 0);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.texto1 {
    display: block;
}


/* NORMAL -------------------------------------------------------------------------------- */

p {
    font-size: 1.2rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.header {
    height: 100vh;
    background-image: url("img/barcelona background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header h1 {
    color: #ededed;
    font-weight: bold;
    padding-top: 10%;
    margin: 0;
    font-size: 100px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-2 {
    width: 20%;
    float: left;
}

.column-3 {
    width: 33.33%;
    float: left;
}

.column-4 {
    width: 40%;
    float: left;
}

.column-6 {
    width: 60%;
    float: left;
}

.column-75 {
    width: 75%;
    float: left;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

.nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 2%;
    width: 15%;
    float: left;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 600px) {
    .column-3 {
        width: 100%;
    }
    .column-4 {
        width: 50%;
    }
    .column-75,
    .column-nav {
        width: 100%;
    }
}